* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header {
  background-color: #000;
  color: #fff;
  padding: 40px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0px;
}

h1 {
  margin: 0;
}

p {
  font-size: 24px;
}

nav.principal li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}

body {
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 40px auto;
  text-align: center;
  padding-top: 120px;
}

.part1 {
  display: flex;
  align-items: center;
}

.slide_bar {
  position: fixed;
  background-color: #888888;
  width: 100%;
  top: 98px;
  padding: 10px 0;
}

.slide_bar > ul {
  display: flex;
  justify-content: space-around;
}

.slide_bar > ul > li > a {
  border-radius: 50px;
}

.slide_bar > ul > li > a > img {
  width: 70px;

}

.text {
  padding-top: 50px;
}

.text > h1 {
  padding: 50px;
}

.text > h2 {
  padding-bottom: 24px;
}

.text > h3 {
  padding-bottom: 16px;
}

.text > p {
  padding: 10px;
}
